#header{
    text-align: center;
}

main{
    margin: 20px 100px 20px 100px;
    text-align: start;
}
#mainSections{
    border: 2px solid black;
}
section{
    margin-bottom: 10px;
    padding: 20px;
}

#colorBlock{
    display: inline-block;
    width: 30%;
    height: 150px;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.red{
    background-color: #8BC34A;
}
.blue{
    background-color: #C5E1A5;
}
.yellow{
    background-color: #F5F5DC;
}
.green{
    background-color: #CFD8DC;
}
.otro{

    background-color: #A1887F;
}
/*FONTS CONT*/
#fontsContainer{
    display: flex;
    flex-wrap: wrap;
}
#fontCont{
    flex-direction: column;
    display: flex;
    width: 42%;
    height: 300px;
    flex-wrap: wrap;
}

/* SPECIAL KEYS*/
h1{
    font-weight: 700;
    font-size: 26px;
    font-family: "Oswald", sans-serif;
}
h2{
    font-weight: 500;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
}
p{
    font-weight: 400;
    font-size: 14px;
}
/* FONTS*/
.open-sans-openSans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
  
.new-amsterdam-regular {
    font-family: "Cinzel", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.oswald-oswaldito {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.newAmsterdam{
    font
}
.regular{
    font-style: normal;
}
.bold{
    font-weight: 700;
}
.italic{
    font-style: italic;
}